.lesson {
    position: fixed;
    top: 3.3rem;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: black;
    color: white;
    overflow: auto;
}

.lesson .video-container video {
    display: block;
    width: 100%;
}

